* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v31_43 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_44 {
  width: 100%;
  height: 231px;
  background: rgba(248,197,17,1);
  opacity: 1;
  position: absolute;
  top: 793px;
  left: 41px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v31_45 {
  width: 100%;
  height: 177px;
  background: rgba(19,63,216,1);
  opacity: 1;
  position: absolute;
  top: 848px;
  left: 88px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v31_46 {
  width: 100%;
  height: 125px;
  background: rgba(219,26,26,1);
  opacity: 1;
  position: absolute;
  top: 899px;
  left: 161px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v31_47 {
  width: 413px;
  height: 71px;
  background: url("../images/v31_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 926px;
  left: 206px;
  overflow: hidden;
}
.v31_48 {
  width: 157px;
  height: 71px;
  background: url("../images/v31_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 926px;
  left: 679px;
  overflow: hidden;
}
.v31_49 {
  width: 95px;
  height: 95px;
  background: url("../images/v31_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 914px;
  left: 916px;
  overflow: hidden;
}
.v31_50 {
  width: 100%;
  height: 62px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_51 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 681px;
  font-family: Heebo;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v31_83 {
  width: 912px;
  height: 452px;
  background: url("../images/v31_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 264px;
  overflow: hidden;
}
.v31_84 {
  width: 61px;
  height: 60px;
  background: url("../images/v31_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 1353px;
  overflow: hidden;
}
